*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
/*background-image: url(https://static3.avast.com/20001427/web/i/v2/components/bg/bg-faint-orange.svg);*/
background-size: cover;

background-position: center;


font-family: 'Fira Sans', sans-serif;
/*font-family: 'Inter', sans-serif;*/




/*font-family: 'Mulish', sans-serif;*/
/*font-family: 'Nunito', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/






}


.dark_mode{
  background-color: #151922;
  color: white;
}

.violeta{
  background-color: #871aff!important;
  border-color: #871aff!important;
}

.border_blanco{
  border-color: #ffffff87!important;
}




.boton_seguro{
  border-radius: 10px;
  border-style: solid;
  width: 29%;
}



.rojo{
  background-color: #f5203e;
  color: white;
  border-color: #f5203e;
}

.amarillo{
  color: white;
  background-color: #f1c80b;
  border-color: #f1c80b;
}

.verde{
  color: white;
  background-color: #43ed9c;
  border-color: #43ed9c;
}

.azul{
  color: white;
  background-color: #0070f6;
  border-color: #0070f6;
}


.eliminar{
  display: none;
}


.mostrar{
  display: initial;
}

.cont_imagen{
 /* background-color: red;*/
  text-align: center;
}

.cont_imagen img{
  width: 100%;
  height: 400px;
}

.palabra_generada{
 /*word-wrap: break-word;*/
 white-space: nowrap; /* Evita el ajuste automático del texto a varias líneas */
 overflow: hidden;    /* Oculta el exceso de texto */
 text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al final del texto oculto */
 width: 400px; /* Esta
}


.cont_longitud{
  margin: 10px 0;
 /* background-color: red;*/
  display: flex;
  align-items: center;
  gap: 10px;
}


.row{
  align-items: center;
}

.btn_copiar{
  background-color: #0070f6;
  border-color: #0070f6;
  border-style: solid;
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
}

.cont_checks{
  display: flex;
  align-items: center;
 gap: 50px;

}

.checks{
  display: flex;
  gap: 10px;
  
}
header{
  background-color: #0070f6;
  background-color: #536DFE;
  padding: 10px 0;
}

.cont_header{
 
  margin: auto;
  width: 80%;

  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
span{
  /*color:#0f0f;*/
}


.cont_header nav{
  gap: 20px;
  display: flex;
  align-items: center;
}

.cont_header nav a{
  text-decoration: none;
  color: white;
}


.cont_todo{
  margin-top: 100px;
}

.cont_contraseña{
/*  background-color: red;*/
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-color: black;
  border-style: solid;
  border-radius: 2em;
  padding: 10px 10px;
  align-items: center;
  border-width: 1px;
}

.titulo{
 /* background-color: red;*/
  margin:auto;

  margin-bottom: -100px;
  width: 90%;
  text-align: center;
}

#fondo_titulo{
  padding: 20px;
}

.titulo{
  margin-top: 100px;
}

.cont_longitud{
  display: grid;
  grid-template-columns: 1fr ;
 /* text-align: center;*/
  margin-top: 50px;

}

.cont_boton{
  margin: auto;
  width: 60%;
}

.cont_boton button{
  width: 100%;
  padding: 10px 0;
}


.input::-webkit-slider-thumb {
  width: 20px; /* Ajusta el ancho según tus necesidades */
  height: 20px; /* Ajusta la altura según tus necesidades */
  background-color: #3498db; /* Cambia el color según tus necesidades */
  border: none; /* Puedes quitar el borde si lo deseas */
  border-radius: 50%; /* Hace que la pelota sea redonda */
  cursor: pointer; 

}

.fondofondo{
  display: none;
}


.fondo_oscuro{
  background-color: rgba(0, 0, 0, 0.454);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cont_checks{
  display: grid;
  grid-template-columns: 1fr ;
  text-align: center;
  gap: 10px;
  text-align: start;
  margin-top: 44px;
}

.checks{
/*  background-color: red;*/
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  gap: 20px;
  font-size: 30px;
}








::-webkit-scrollbar {
  width: 10px;
}

/* Fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: black;
}

/* Color de la barra de desplazamiento */
::-webkit-scrollbar-thumb { 
  background-color:#0070f6;
  border-radius: 2em;
}

/* Esquina redondeada de la barra de desplazamiento */
::-webkit-scrollbar-corner {
  background-color: black;
}


.titulo h4{
  display: none;
}







































@media (max-width:1124px){
.cont_contraseña{
  gap: 20px;
}

.titulo{
  margin-top: 0;
}

.cont_longitud{
  grid-template-columns: 1fr;
 
}

.row{
 /*background-color: red;*/
 margin-top: -48px;
}


}
















































@media (max-width:900px){

.cont_longitud{
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.cont_checks{
  justify-content: space-around;
}

.cont_boton button{
  width: 100%;
}

.cont_boton{
  margin:10px auto;
  width: 200px;
  
}

.cont_header nav{
  display: none;
}

.cont_header{
  text-align: center;
  justify-content: center;
}


.titulo{
  margin-top: 13px;
  margin-bottom: -141px;
}

.cont_checks{
  text-align: center;
  margin-top: 30px;
}

.checks{
  justify-content: center;
}


}

























































@media (max-width: 500px){

.cont_checks{
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  gap: 10px;
}

.checks{
  justify-content: center;
}

.checks{
  font-size: 20px;

}



.cont_checks{
  padding-bottom: 50px;
}


}
















@media (max-width: 300px){
  .checks{
    gap: 5px;
  }
}